name: Build Docker image

on:
  release:
    types: [created]

  workflow_dispatch:
    inputs:
      release:
        description: "Release tag where to create the binaries (as SemVer vX.X.X)"
        required: true
        default: v0.1.0

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - id: read_tag
        name: Read release tag name (mostly vx.x.x)
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            export TAG="${{ github.ref_name }}"
          elif [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            export TAG="${{ inputs.release }}"
          fi

          echo "release_tag=${TAG}" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ steps.read_tag.outputs.release_tag }}

      - name: Read Python version from pyproject.toml
        id: read_python_version
        run: |
          python_version=$(grep "^requires-python" pyproject.toml | sed 's/requires-python = "\(.*\)"/\1/' | sed 's/>=//')
          echo "python_version=${python_version:-3.11}" >> "$GITHUB_OUTPUT"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "${{ steps.read_python_version.outputs.python_version }}"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: build
        name: Build and push Docker images
        env:
          RELEASE_TAG: ${{ steps.read_tag.outputs.release_tag }}
        run: |
          export IMG="ghcr.io/$GITHUB_REPOSITORY:$RELEASE_TAG"

          if grep -q '^docker-buildx:' Justfile; then
            just docker-buildx
          else
            just docker-build
            just docker-push
          fi
